<!--------------------------- brand section start --------------------------->

<section class="brand_bg">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 brand_col">
                <div class="owl-carousel owl-theme" id="brand">
                    <div class="brand_img item">
                        <img src="../../assets/img/brand1.png" class="img-fluid" alt="brand image">
                    </div>
                    <div class="brand_img item">
                        <img src="../../assets/img/brand2.png" class="img-fluid" alt="brand image">
                    </div>
                    <div class="brand_img item">
                        <img src="../../assets/img/brand3.png" class="img-fluid" alt="brand image">
                    </div>
                    <div class="brand_img item">
                        <img src="../../assets/img/brand4.png" class="img-fluid" alt="brand image">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="brand_img  owlslide">
                <img src="../../assets/img/brand1.png" class="img-fluid" alt="brand image">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="brand_img  owlslide">
                <img src="../../assets/img/brand2.png" class="img-fluid" alt="brand image">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="brand_img item owlslide">
                <img src="../../assets/img/brand3.png" class="img-fluid" alt="brand image">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="brand_img item owlslide">
                <img src="../../assets/img/brand4.png" class="img-fluid" alt="brand image">
            </div>
        </ng-template>
    </owl-carousel-o> -->

    <div class="container" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 brand_col">
                    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
                        [imageSize]="{width: '220px', height: '102px'}" slideImage="1" [showArrow]="false"
                        [imagePopup]="false" [animationSpeed]="3">
                    </ng-image-slider>
            </div>
        </div>
    </div>


</section>


<!--------------------------- brand section end --------------------------->