<!-- ----------------header start---------------- -->

<section class="top_header_bg">
  <div class="container">
    <div class="row tp_nav_row align-items-center justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 nv_ads_col">
        <ul class="nav justify-content-lg-start justify-content-md-center">
          <li class="nav-item custom_top_item">
            <a class="nav-link custom_pad_link" routerLink="">
              <i class="fa fa-map-marker float-left blue_clr" aria-hidden="true"></i>
              <p class="mb-0 ml-1 float-left text-white"><span class="font-weight-bold mr-2">Address</span>47 Firs Park
                Gardens London N21 2PX</p>
            </a>
          </li>
          <li class="nav-item custom_top_item pl-2">
            <a class="nav-link custom_pad_link" routerLink="">
              <i class="fa fa-phone float-left blue_clr" aria-hidden="true"></i>
              <p class="mb-0 ml-1 float-left text-white"><span class="font-weight-bold mr-2">Call US</span>+44 203 744
                7900</p>
            </a>
          </li>
          <li class="nav-item custom_top_item pl-2">
            <a class="nav-link custom_pad_link" routerLink="">
              <i class="fa fa-paper-plane float-left blue_clr" aria-hidden="true"></i>
              <p class="mb-0 ml-1 float-left text-white"><span class="font-weight-bold mr-2">Email
                  Us</span>sales@landseatech.co.uk</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-lg-right text-center social_col">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""> <i class="fa fa-twitter ml-2" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram ml-2" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-light nav_default" id="sticky-nav">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="../../assets/img/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto cutom_nav_menu">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item dropdown drop_item active">
            <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
            <div class="dropdown-menu drop_custom" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">Home 1</a>
              <a class="dropdown-item" href="index2.html">Home 2</a>
            </div>
          </li> -->
        <li class="nav-item">
          <a class="nav-link " routerLink="./about">About</a>
        </li>
        <li class="nav-item dropdown drop_item">
          <a class="nav-link dropdown-toggle" href=""  id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu drop_custom" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="productByBrand">Product By Brand</a>
            <a class="dropdown-item" routerLink="productByCategory">Products by Category</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">Blog / News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- ----------------header end---------------- -->


