<!-- --------------inner banner start-------------- -->
<section class="inner_banner_bg"
    style="background: linear-gradient( #00000082, rgb(0 0 0 / 45%) ), url(../../assets/img/inner-banner2.jpg);">
    <div class="container inner_bnr_bg">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
                <h1 class="text-white font-weight-bold">Who we are?</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent justify-content-end bread_crumb_custom mb-0">
                        <li class="breadcrumb-item"><a routerLink="" class="blue_clr">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- --------------inner banner end-------------- -->

<!--------------------------- about us start --------------------------->
<section class="about_bg mt-5">
    <div class="container">
        <div class="row abt_row align-items-center">
            <div class="col-lg-6 col-mf-6 col-sm-12 col-12 about_img_col">
                <div class="abt_img" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="../../assets/img/about.jpg" class="img-fluid" alt="about image">
                    <div class="overlay_about">
                        <h2 class="font-weight-bold text-white">THE COMPANY</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-mf-6 col-sm-12 col-12 about_text_col">
                <h3 class="font-weight-bold blue_clr mt-3">Your trusted supplier for Marine and Oil & Gas Industry.</h3>
                <p>LandSea Tech Ltd is a trusted partner in sourcing high quality products and packaged solutions to the
                    Commercial Marine, Naval, Offshore Oil and Gas and other industries around the globe.</p>
                <p>From our network of manufacturers and suppliers around the world (including the UK, Europe, Japan,
                    Korea and China) LandSea Tech can source any spare parts, machinery and equipment at very
                    competitive prices. Our reputation for quality and service sets the industry benchmark that others
                    follow.</p>
                <!-- <a class="btn btn_mission font-weight-bold" href="#" role="button">Read Our Mission</a> -->
            </div>
        </div>
    </div>
</section>
<!--------------------------- about us end --------------------------->
<app-brand-section></app-brand-section>

<app-testimonials></app-testimonials>

<app-our-news-and-blogs></app-our-news-and-blogs>
