 <!-- --------------inner banner start-------------- -->
 <section class="inner_banner_bg" style="background: linear-gradient( #00000082, rgb(0 0 0 / 45%) ), url(../../assets/img/inner-banner4.jpg);">
    <div class="container inner_bnr_bg">
      <div class="row align-items-end">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
          <h1 class="text-white font-weight-bold">Contact Us</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-end bread_crumb_custom">
              <li class="breadcrumb-item"><a routerLink="" class="blue_clr">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  
  <!-- --------------inner banner end-------------- -->
  <!-- form and map start -->
  <section class="form_bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-4 my-md-3">
          <div class="form_card" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <h3 class="font-weight-bold">Get In Touch</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <form>
              <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12 contact_frm_col">
                  <input type="Name" class="form-control rounded-0 contact_fm_control" placeholder="Your Name"  aria-describedby="nameHelp">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12 contact_frm_col">
                  <input type="Email" class="form-control rounded-0 contact_fm_control" placeholder="Your Email"  aria-describedby="emailHelp">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12 contact_frm_col">
                  <input type="Phone Number" class="form-control rounded-0 contact_fm_control" placeholder="Phone Number"  aria-describedby="nameHelp">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12 contact_frm_col">
                  <input type="Subject" class="form-control rounded-0 contact_fm_control" placeholder="Subject"  aria-describedby="emailHelp">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                  <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" placeholder="Your Message" rows="4"></textarea>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12 form_btn_col">
                  <button type="submit" class="btn btn_submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-4 my-md-3">
          <div class="map_card" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2476.6117913970993!2d-0.0897680840715623!3d51.630320109529045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ece1b6af939%3A0x358890c0adc14f10!2s47%20Firs%20Park%20Gdns%2C%20London%20N21%202PX%2C%20UK!5e0!3m2!1sen!2sin!4v1632820834169!5m2!1sen!2sin" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- form and map end -->
  <!-- address section start -->
  <section class="mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 ads_col">
          <div class="ads_card card rounded-0" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <div class="card-body">
              <div class="media">
                <i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold ads_hd">United Kingdom</h5>
                  <p class="mb-0 addres_line_ht">47 Firs Park Gardens London N21 2PX</p>
                  <a href="tel:+44 203 744 7900" class="text-dark"><p class="mb-0"><span class="font-weight-bold">Call Us</span> +44 203 744 7900</p></a>
                  <a href="milto:sales@landseatech.co.uk" class="text-dark"><p><span class="font-weight-bold">Email Us</span> sales@landseatech.co.uk</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 ads_col">
          <div class="ads_card card rounded-0" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <div class="card-body">
              <div class="media">
                <i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold ads_hd">United Arab Emirates</h5>
                  <p class="mb-0 addres_line_ht">Hamriya Freezone Sharjah, U.A.E</p>
                 <a href="tel:+65 6786 3136" class="text-dark"> <p class="mb-0"><span class="font-weight-bold">Call Us</span> +971 6 7490982</p></a>
                   <a href="milto:sales@landseatech.co.uk" class="text-dark"><p><span class="font-weight-bold">Email Us</span> sales@landseatech.co.uk</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 ads_col">
          <div class="ads_card card rounded-0" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <div class="card-body">
              <div class="media">
                <i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold ads_hd">Singapore</h5>
                  <p class="mb-0 addres_line_ht">Blk 808, #07-163, French Road Kitchener Complex Singapore 200808</p>
                 <a href="tel:+65 6786 3136" class="text-dark"> <p class="mb-0"><span class="font-weight-bold">Call Us</span> +65 6786 3136</p></a>
                  <a href="milto:sales@landseatech.co.uk" class="text-dark"> <p><span class="font-weight-bold">Email Us</span> sales@landseatech.co.uk</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 ads_col">
          <div class="ads_card card rounded-0" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <div class="card-body">
              <div class="media">
                <i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold ads_hd">Hong Kong</h5>
                  <p class="mb-0 addres_line_ht">Flat 11 7/F Laurels Industrial 32 Tai Yau Street San Po Kong Kowloon, Hong Kong</p>
                  <a href="tel:+852 23220070" class="text-dark"> <p class="mb-0"><span class="font-weight-bold">Call Us</span> +852 23220070</p></a>
                   <a href="milto:sales@landseatech.co.uk" class="text-dark"><p><span class="font-weight-bold">Email Us</span> sales@landseatech.co.uk</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 my-3 my-md-4 ads_col">
          <div class="ads_card card rounded-0" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-delay="300">
            <div class="card-body">
              <div class="media">
                <i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mt-0 font-weight-bold ads_hd">India</h5>
                  <p class="mb-0 addres_line_ht">1st Floor, Island Castle Chittoor Road, Opp YMCA International Ernakulam 682035,Kerala, India</p>
                <a href="tel:+91 9846007898" class="text-dark"><p class="mb-0"><span class="font-weight-bold">Call Us</span> +91 9846 007 898</p></a>
                <a href="milto:sales@landseatech.co.uk" class="text-dark"><p><span class="font-weight-bold">Email Us</span> sales@landseatech.co.uk</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        



      </div>
    </div>
  </section>
  <!-- address section end -->