 <!-- --------------inner banner start-------------- -->
 <section class="inner_banner_bg" style="background: linear-gradient( #00000082, rgb(0 0 0 / 45%) ), url(../../assets/img/inner-banner8.jpg);">
    <div class="container inner_bnr_bg">
      <div class="row align-items-end">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
          <h1 class="text-white font-weight-bold">Our Services</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-end bread_crumb_custom mb-0">
              <li class="breadcrumb-item"><a routerLink="" class="blue_clr">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  
  <!-- --------------inner banner end-------------- -->
  <!--------------------------- service start --------------------------->
  <section class="section_pad">
    <!--  <div class="text_large">
      <h2>Services</h2>
    </div> -->
    <div class="container">
      <div class="row my-3 my-md-2">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <div class="card service_card">
            <div class="service_img_bg position-relative">
              <img class="card-img-top" src="../../assets/img/service.jpg" alt="Service image">
              <div class="over_icon">
                <img src="../../assets/img/service-icon.png" class="img-fluid" alt="icon">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Parts production</h5>
              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <a href=""> Read more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <div class="card service_card">
            <div class="service_img_bg position-relative">
              <img class="card-img-top" src="../../assets/img/service2.jpg" alt="Service image">
              <div class="over_icon">
                <img src="../../assets/img/service-icon2.png" class="img-fluid" alt="icon">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Precision & quality</h5>
              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <a href=""> Read more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <div class="card service_card">
            <div class="service_img_bg position-relative">
              <img class="card-img-top" src="../../assets/img/service3.jpg" alt="Service image">
              <div class="over_icon">
                <img src="../../assets/img/service-icon3.png" class="img-fluid" alt="icon">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Auto & aero manufacture</h5>
              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <a href=""> Read more</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <div class="card service_card">
            <div class="service_img_bg position-relative">
              <img class="card-img-top" src="../../assets/img/service2.jpg" alt="Service image">
              <div class="over_icon">
                <img src="../../assets/img/service-icon2.png" class="img-fluid" alt="icon">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Precision & quality</h5>
              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <a href=""> Read more</a>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <div class="card service_card">
            <div class="service_img_bg position-relative">
              <img class="card-img-top" src="../../assets/img/service3.jpg" alt="Service image">
              <div class="over_icon">
                <img src="../../assets/img/service-icon3.png" class="img-fluid" alt="icon">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Auto & aero manufacture</h5>
              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <a href=""> Read more</a>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <div class="card service_card">
            <div class="service_img_bg position-relative">
              <img class="card-img-top" src="../../assets/img/service.jpg" alt="Service image">
              <div class="over_icon">
                <img src="../../assets/img/service-icon.png" class="img-fluid" alt="icon">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Parts production</h5>
              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <a href=""> Read more</a>
            </div>
          </div>
        </div>





      </div>
    </div>
  </section>
  <!--------------------------- service end --------------------------->