<!--------------------------- blog start --------------------------->
<section>
  <div class="container">
    <h2 class="hd_common font-weight-bold mb-m-2 mb-5">Our News and Blogs </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" *ngFor="let blog of dataserv.homeblog">
        <div class="blog_card card rounded-0 border-0">
          <img class="card-img-top" src="{{blog.img}}" alt=" blog image">
          <div class="overlay_date text-center">
            <h2 class="mb-0 font-weight-bold">{{blog.date|date:'d'}}</h2>
            <p class="font-weight-bold">{{blog.date|date:'LLL'}}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title  font-weight-bold">{{blog.title}}</h5>
            <p>{{ (blog.desc.length>162)? (blog.desc | slice:0:162)+'..':(blog.desc) }}...</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <div class="blog_card card rounded-0 border-0">
                    <img class="card-img-top" src="../../assets/img/blog2.jpg" alt="blog image">
                    <div class="overlay_date text-center">
                        <h2 class="mb-0 font-weight-bold">06</h2>
                        <p class="font-weight-bold">Sep</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title  font-weight-bold">Shipping Companies May Adopt LNG Faster Than Expected
                        </h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post
                            claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <div class="blog_card card rounded-0 border-0">
                    <img class="card-img-top" src="../../assets/img/blog3.jpg" alt="blog image">
                    <div class="overlay_date text-center">
                        <h2 class="mb-0 font-weight-bold">02</h2>
                        <p class="font-weight-bold">Sep</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title  font-weight-bold">Kormarine 2017</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post
                            claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
                    </div>
                </div>
            </div> -->
      <div class="col-md-12 col-12 text-center my-4">
        <a class="btn btn_more font-weight-bold" routerLink="../blog" role="button">View More</a>
      </div>
    </div>
  </div>
</section>
<!--------------------------- blog end --------------------------->
