 <!-- --------------inner banner start-------------- -->
 <section class="inner_banner_bg" style="background: linear-gradient( #00000082, rgb(0 0 0 / 45%) ), url(../../assets/img/inner-banner3.jpg);">
    <div class="container inner_bnr_bg">
      <div class="row align-items-end">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
          <h1 class="text-white font-weight-bold">Our Blogs And News</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">            
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-end bread_crumb_custom mb-0">
              <li class="breadcrumb-item"><a routerLink="" class="blue_clr">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog/News</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  
  <!-- --------------inner banner end-------------- -->

<!--------------------------- blog start --------------------------->
<section class="mt-5">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <a routerLink="../blogDetail">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog1.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">09</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Vessel Operating Costs on the Rise -Moore Stephens</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
       <a routerLink="../blogDetail">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog2.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">06</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Shipping Companies May Adopt LNG Faster Than Expected</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog3.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">02</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Kormarine 2017</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>  

    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog4.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">09</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Vessel Operating Costs on the Rise -Moore Stephens</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog5.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">06</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Shipping Companies May Adopt LNG Faster Than Expected</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog6.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">02</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Kormarine 2017</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog7.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">09</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Vessel Operating Costs on the Rise -Moore Stephens</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog8.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">06</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Shipping Companies May Adopt LNG Faster Than Expected</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
      data-aos-anchor-placement="top-bottom">
      <div class="blog_card card rounded-0 border-0">
        <img class="card-img-top" src="../../assets/img/blog3.jpg" alt="blog image">
        <div class="overlay_date text-center">
          <h2 class="mb-0 font-weight-bold">02</h2>
          <p class="font-weight-bold">Sep</p>
        </div>
        <div class="card-body">
          <h5 class="card-title  font-weight-bold">Kormarine 2017</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Washington Post claims that lorem Ipsum has been the industry's standard dummy text ever...</p>
        </div>
      </div>
    </div>


  </div>
</div>
</section>
<!--------------------------- blog end --------------------------->