<div class="container">
    <h2 class="hd_common font-weight-bold mb-m-2 mb-5">Testimonials </h2>
    <owl-carousel-o [options]="customOptions" id="testimonial" >
        <ng-container >
            <ng-template carouselSlide >
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 testi_col item" data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom">
                    <div class="testi_card card rounded-0 border-0">
                        <div class="card-body">
                            <img style="width: 50px;height: 50px;border-radius: 50%;"
                                src="../../assets/img/left-quote.png" class="img-fluid" alt="icon">
                            <p class="card-text">The Lorem Ipsum Company has been an integral part of our content
                                marketing success. We have seen a notable increase in organic leads since we began using
                                their services in 2012.</p>
                            <div class="user_img">
                                <img src="../../assets/img/user.jpg" class="img-fluid" alt="user image">
                            </div>
                            <div class="user_adrs">
                                <h5 class="card-title">Roland Weedon</h5>
                                <footer class="blockquote-footer">CEO & Founder, Essex Mortgage</footer>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </ng-container>
        <ng-container >
            <ng-template carouselSlide >
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 testi_col item" data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom">
                    <div class="testi_card card rounded-0 border-0">
                        <div class="card-body">
                            <img style="width: 50px;height: 50px;border-radius: 50%;"
                                src="../../assets/img/left-quote.png" class="img-fluid" alt="icon">
                            <p class="card-text">My busy schedule leaves little, if any, time for blogging and
                                social media.
                                The Lorem Ipsum Company has been a huge part of helping me grow my business through
                                organic
                                search and content marketing..</p>
                            <div class="user_img">
                                <img src="../../assets/img/user2.jpg" class="img-fluid" alt="user image">
                            </div>
                            <div class="user_adrs">
                                <h5 class="card-title">Kelsi Gordon</h5>
                                <footer class="blockquote-footer">Insurance Broker, Brashears Insurance</footer>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </ng-container>

    </owl-carousel-o>
    <br>
    <br>
</div>