<!-- --------------inner banner start-------------- -->
<section class="inner_banner_bg"
  style="background: linear-gradient( #00000082, rgb(0 0 0 / 45%) ), url(../../assets/img/inner-tdi.jpg);">
  <div class="container inner_bnr_bg">
    <div class="row align-items-end">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
        <h1 class="text-white font-weight-bold">Distributor of TDI Air Starter</h1>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 my-4 my-md-3 inner_bnr_col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-end bread_crumb_custom mb-0">
            <li class="breadcrumb-item"><a routerLink="" class="blue_clr">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Distributor of TDI Air Starter</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- --------------inner banner end-------------- -->

<!--------------------------- tdi start --------------------------->
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" *ngFor="let p of dataserv.tdiProducts">
        <!-- <a routerLink="../tdiDetail" > -->
        <a [routerLink]="p.id">
          <div class="blog_card card rounded-0 border-0">
            <!-- <img style="height:330px ;width: 284;" class="card-img-top" src="{{p.image}}" alt="blog image"> -->
            <img style="height:330px ;width: 284;" class="card-img-top"
              src="{{ (p.image)? p.image:(dataserv.noImage) }}" alt="blog image">
            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">{{p.title}}</h5>
              <p>{{ (p.desc.length>168)? (p.desc | slice:0:168)+'..':(p.desc) }}...</p>
            </div>
          </div>
        </a>
      </div>


      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="../tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi1.jpg" alt="blog image">
            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">T100-B Inertia-Engaged Turbine Air Starter for Large
                Engines</h5>
              <p>T100-B provides ultimate, inertia-engaged reliability for large engines up to 250 liters (15,000 CID).
                Long cranking cycles, contaminated air, and improper maintenance...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi2.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">T100-V Pre-Engaged Turbine Air Starter</h5>
              <p>The pre-engaged T100-V provides ultimate reliability for large engines up to 300 liters. Long cranking
                cycles, contaminated air, and improper maintenance...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi3.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">TurboTwister is Unmatched for Power & Versatility...
              </h5>
              <p>TurboTwister is pound-for-pound the most powerful air starter in the industry. Through simplicity in
                design, the size and weight are remarkably compact for the output it delivers...</p>
            </div>
          </div>
        </a>
      </div> -->

      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi4.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">TURBOGUARD™ Provides Protection for Your Engine
                Against...</h5>
              <p>Your engine has many built-in safeguards, but protection against hydrolock is not one of them. With
                TurboGuard there is a new level of protection against the threat of leaking head gaskets...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi5.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">T50-I Inertia-Engaged Turbine Air Starter</h5>
              <p>T50-I (inertia-engaged) are versatile, mid-size turbine air starters designed for a wide variety of
                challenging applications like mine haul truck environments...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi6.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">T50-P Pre-Engaged Turbine Air Starter</h5>
              <p>T50-P Pre-Engaged Turbine Air Starters are versatile solution for mid size engines for a wide variety
                of challenging applications like mine haul truck environments...</p>
            </div>
          </div>
        </a>
      </div> -->


      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi7.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">A Smart Starting Choice for OEMs & Aftermarket Engines
              </h5>
              <p>More Than An Air Starter TurboStartTwo isn’t just an air starter. It’s an Integral Start System that
                includes 1) a powerful air motor 2) built-in controls ...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi8.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">T30-I Inertia Engaged Air Starter for Small to Mid Size
                Engines</h5>
              <p>The T30-I generates up to 25% more stall torque than other starters in its class. Its highly efficient
                twin-turbine motor design gives you more cranking power with less air for faster starts...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 blog_col my-2 my-md-3" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <a routerLink="tdiDetail">
          <div class="blog_card card rounded-0 border-0">
            <img class="card-img-top" src="../../assets/img/tdi9.jpg" alt="blog image">

            <div class="card-body">
              <h5 class="card-title blue_clr font-weight-bold">T30-P Pre-Engaged Turbine Air Starter</h5>
              <p>The T30-P generates up to 25% more stall torque than other starters in its class. Its highly efficient
                twin-turbine motor design gives you more cranking power with less air for faster starts...</p>
            </div>
          </div>
        </a>
      </div> -->


    </div>
  </div>
</section>
<!--------------------------- tdi end --------------------------->
