
<div id="carouselExampleIndicators" class="carousel slide carousel-fade default_carousel" data-interval="5000"
    data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/banner3.jpg" alt="First slide">
            <div class="slider-overlay"></div>
            <div class="carousel-caption">
                <h1 class="text-white">Key supplier to Offshore <br><span>Oil & Gas Industry</span> </h1>
                <p class="text-white">Landsea Tech is your access to 100+ suppliers in the global oil and gas industry
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/banner2.jpg" alt="Second slide">
            <div class="slider-overlay"></div>
            <div class="carousel-caption">
                <h1 class="text-white">When its a matter of spare parts, <br><span>Its a matter for Landsea Tech</span>
                </h1>
                <p class="text-white">Your plan for achieving your goal should involve clear solutions to all ...
                    <br>actions you need to take to achieve those goals become clearer.
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- --------------banner end-------------- -->
<!----------------------- strip start--------------------- -->
<section class="bg_strip">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 strip_col text-center p-0">
                <div class="strip_bg d-flex" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <h5 class="text-white mb-0">Distributor of TDI Air Starter</h5>
                    <a class="btn btn-tdi ml-3" role="button" routerLink="tdiList"> View More <i
                            class="fa fa-angle-double-right ml-2" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------- strip end--------------------- -->

<!--------------------------- product start  --------------------------->
<section class="pd_scetion">
    <div class="container" data-aos="fade-up">
        <div class="row product_row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 prdt_col">
                <div class="product_box card border-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                    data-aos-delay="300">
                    <div class="product_icon_box">
                        <img src="../../assets/img/oil-pump.png" class="img-fluid" alt="icon">
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-bold">Oil & Gas </h5>
                        <p class="card-text">We supply machine parts and components for all segments of the oil and gas
                            industry such as valves, compressor discs, and more </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 prdt_col">
                <div class="product_box card border-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                    data-aos-delay="400">
                    <div class="product_icon_box">
                        <img src="../../assets/img/Marine.png" class="img-fluid" alt="icon">
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-bold">Marine </h5>
                        <p class="card-text">We supply all types and brands of marine spare parts needed on board of
                            seagoing vessels, OEM, genuine and high-quality aftermarket marine spare parts. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 prdt_col">
                <div class="product_box card border-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                    data-aos-delay="500">
                    <div class="product_icon_box">
                        <img src="../../assets/img/energy.png" class="img-fluid" alt="icon">
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-bold">Energy </h5>
                        <p class="card-text">We are a reliable and cost-efficient, reliable and long-term solution for
                            the supply of power plant I&C system spare parts, gearboxes, generator and power electronics
                            etc. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------- product end --------------------------->

<!--------------------------- about us start --------------------------->
<section class="about_bg">
    <div class="container">
        <div class="row abt_row align-items-center">
            <div class="col-lg-6 col-mf-6 col-sm-12 col-12 about_img_col">
                <div class="abt_img" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="../../assets/img/about.jpg" class="img-fluid" alt="about image">
                    <div class="overlay_about">
                        <h2 class="font-weight-bold text-white">THE COMPANY</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-mf-6 col-sm-12 col-12 about_text_col">
                <h3 class="font-weight-bold  mt-3">Your trusted supplier for Marine and Oil & Gas Industry.</h3>
                <p>LandSea Tech Ltd is a trusted partner in sourcing high quality products and packaged solutions to the
                    Commercial Marine, Naval, Offshore Oil and Gas and other industries around the globe.</p>
                <p>From our network of manufacturers and suppliers around the world (including the UK, Europe, Japan,
                    Korea and China) LandSea Tech can source any spare parts, machinery and equipment at very
                    competitive prices. Our reputation for quality and service sets the industry benchmark that others
                    follow.</p>
                <a class="btn btn_mission font-weight-bold" routerLink="about" role="button">Read Our Mission</a>
            </div>
        </div>
    </div>
</section>
<!--------------------------- about us end --------------------------->
<app-brand-section></app-brand-section>
<!--------------------------- service start --------------------------->
<section class="section_pad">
    <div class="container">
        <h2 class="hd_common font-weight-bold mb-4">Our Services</h2>
        <div class="row my-3 my-md-2">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <div class="card service_card">
                    <div class="service_img_bg position-relative">
                        <img class="card-img-top" src="../../assets/img/service.jpg" alt="Service image">
                        <div class="over_icon">
                            <img src="../../assets/img/service-icon.png" class="img-fluid" alt="icon">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Parts production</h5>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </p>
                        <a href=""> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <div class="card service_card">
                    <div class="service_img_bg position-relative">
                        <img class="card-img-top" src="../../assets/img/service2.jpg" alt="Service image">
                        <div class="over_icon">
                            <img src="../../assets/img/service-icon2.png" class="img-fluid" alt="icon">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Precision & quality</h5>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </p>
                        <a href=""> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-2 service_col" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <div class="card service_card">
                    <div class="service_img_bg position-relative">
                        <img class="card-img-top" src="../../assets/img/service3.jpg" alt="Service image">
                        <div class="over_icon">
                            <img src="../../assets/img/service-icon3.png" class="img-fluid" alt="icon">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Auto & aero manufacture</h5>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </p>
                        <a href=""> Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------- service end --------------------------->
<!--------------------------- solution start --------------------------->
<section>
    <div class="container-fluid">
        <div class="row bg_solution_row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 solution_img_col p-0" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <img src="../../assets/img/img-career.jpg" class="img-fluid" alt="solution imgae" width="100%">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 solution_text_col text-white" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <div class="slu_card py-3">
                    <h2 class="font-weight-bold">We provide solutions to grow your business</h2>
                    <p>Lorem Ipsum is simply dummy text printing and typesetting industry been the industry's standard
                        dummy text ever since when an unknown printer took a galley of type and scrambled</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------- solution end --------------------------->
<!--------------------------- product start --------------------------->
<section class="section_product">
    <div class="produt_hd_bg" data-aos="fade-up">
        <h2 class="hd_common font-weight-bold mb-4 text-center">Our Products</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut <br>labore et dolore magna aliqua.</p>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center product_row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 product_col my-3 my-md-3" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <a href="">
                    <div class="product_card card rounded-0 border-0 position-relative">
                        <img class="card-img-top rounded-0 product_img" src="../../assets/img/product1.jpg"
                            alt="product image" width="100%">
                        <div class="over_title">
                            <h3>Building airplane elements</h3>
                        </div>
                        <div class="product_overlay">
                            <h3>Building airplane elements</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 product_col my-3 my-md-3" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <a href="">
                    <div class="product_card card rounded-0 border-0 position-relative">
                        <img class="card-img-top rounded-0 product_img" src="../../assets/img/product2.jpg"
                            alt="product image" width="100%">
                        <div class="over_title">
                            <h3>Berlin Railway elements</h3>
                        </div>
                        <div class="product_overlay">
                            <h3>Berlin Railway elements</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 product_col my-3 my-md-3" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <a href="">
                    <div class="product_card card rounded-0 border-0 position-relative">
                        <img class="card-img-top rounded-0 product_img" src="../../assets/img/product3.jpg"
                            alt="product image" width="100%">
                        <div class="over_title">
                            <h3>Simon Oswald</h3>
                        </div>
                        <div class="product_overlay">
                            <h3>Simon Oswald</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 product_col my-3 my-md-3" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom">
                <a href="">
                    <div class="product_card card rounded-0 border-0 position-relative">
                        <img class="card-img-top rounded-0 product_img" src="../../assets/img/product1.jpg"
                            alt="product image" width="100%">
                        <div class="over_title">
                            <h3>Building airplane elements</h3>
                        </div>
                        <div class="product_overlay">
                            <h3>Building airplane elements</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-12 text-center my-4">
                <a class="btn btn_more font-weight-bold" routerLink="" role="button">View More</a>
            </div>
        </div>
    </div>
</section>
<!--------------------------- product end --------------------------->

<app-testimonials></app-testimonials>

<app-our-news-and-blogs></app-our-news-and-blogs>